{% extends 'base.html' %}

{% block title %}
	blog_detail
{% endblock %}

{% block main %}
	<h1>Djando课程详情</h1>
    <hr>
    <div class="mt-2">
        <img src="{% static 'image/logo.png' %}" class="rounded-circle" width="30" height="30" alt="">
        <span class="ms-2">mmm</span>
        <span class="ms-2"> 于 </span>
        <span class="ms-2">2025年11月11日 11：11</span>发布
    </div>
    <hr>
    <div class="py-2">
        这是博客详情
    </div>
    <hr>
    <div class="mt-2">
        <h3>评论（10）</h3>
        <form action="" method="post">
            <div class="mt-2">
                <input type="text" class="form-control" placeholder="请输入评论">
            </div>
            <div class="text-end mt-3" >
                <button type="button" class="btn btn-primary">评论</button>
            </div>
        </form>
    </div>
    <div class="mt-2">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="d-flex justify-content-between text-body-secondary">
                    <div class="user-info">
                        <img src="{% static 'image/logo.png' %}" class="rounded-circle" width="40" height="40" alt="">
                        <span class="ms-2">
                            mmm
                        </span>
                        <div class="create-time" style="line-height: 40px">
                            2025年11月11日 11：11
                        </div>
                    </div>
                </div>
                <div class="mt-2">这是评论的内容</div>
            </li>
        </ul>
    </div>
{% endblock %}